@import 'tailwindcss';
@plugin 'daisyui';
/* @plugin 'daisyui' {
  themes:
    light --default,
    dark --prefersdark,
    forest;
} */

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
